<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Login</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>

<body>
	<div class="container" style="width:80%">
	<h1>--</h1>
	<br />
		<form action="#" th:action="@{/registration}" th:object="${userBean}" method="post" >
			<div class="form-group" >
				<label for="email" class="control-label col-sm-2">Email*</label>:: <input type="text" th:field="*{email}"  placeholder="Enter email"/>
				<div style="width:33%"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email Error</div>
				<label th:text="${already}" style="color:red"/>
			</div>
			<div class="form-group">
				<label for="firstName" class="control-label col-sm-2">First Name*</label>:: <input type="text" th:field="*{firstName}" />
				<div style="width:33%" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger">FirstName Error</div>
			</div>
			<div class="form-group">
				<label for="lastName" class="control-label col-sm-2">Last Name*</label>:: <input type="text" th:field="*{lastName}" />
				<div style="width:33%" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger">LastName Error</div>
			</div>
			<div class="form-group">
				<label for="password" class="control-label col-sm-2">Password*</label>:: <input type="password" th:field="*{password}" />
				<div style="width:33%" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger">Password Error</div>
			</div>
			<div class="form-group">
				<label for="passwordConfirm" class="control-label col-sm-2">Confirm Password*</label>:: <input type="password" th:field="*{passwordConfirm}" />
				<div style="width:33%" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="alert alert-danger">Password Error</div>
			</div>
			<div class="form-group">
				<label for="title" class="control-label col-sm-2">Title</label>:: <select th:field="*{title}">
					<option value="Bp" th:text="Bp"></option>
					<option value="Ibu" th:text="Ibu"></option>
					<option value="Mas" th:text="Mas"></option>
					<option value="Mba" th:text="Mba"></option>
				</select>
				<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
			</div>
			<!--<div class="form-group">-->
				<!--<label for="country" class="control-label col-sm-2">Kota</label>:: <select th:field="*{country}">-->
					<!--<option value="Solo" th:text="Solo"></option>-->
					<!--<option value="Yogya" th:text="Yogya"></option>-->
					<!--<option value="Klaten" th:text="Klaten"></option>-->
					<!--<option value="Magelang" th:text="Magelang"></option>-->
					<!--<option value="Magelang" th:text="Magelang"></option>-->
				<!--</select>-->
				<!--<div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="alert alert-danger">Country Error</div>-->
			<!--</div>-->
			<input type="hidden"  th:field="*{country}"  value="JAKARTA" />
			<input type="hidden" name="provider"  value="registration" />
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</form>

	</div>
</body>
</html>